* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #262626;
}

header {
  background-color: #fff1c9;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 26px;
  padding: 10px 20px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 120px;
  margin-top: 10px;
}
.nav__logo {
  width: 84px;
  height: auto;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 130px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header-section__p {
  font-family: Segoe UI;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  color: #f9b800;
}
.header-section__h2 {
  font-family: Segoe UI;
  font-size: 70px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 40px;
}
.header-section__image {
  margin-right: 130px;
}
.header-section__button {
  background-color: #f9b800;
  border: 0;
  color: #262626;
  border-radius: 49px;
  padding: 27px 49px;
  margin-top: 30px;
  margin-left: 0;
  font-size: 24px;
  font-weight: 700;
}
.header-section__button__arrow {
  margin-left: 55px;
}

.shopping {
  background-color: #f9b800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.shopping__h2, li > p, .cursur-integer__h2, .boxes__box__p-secondary, .boxes__box__p, .boxes__box__h2-secondary, .boxes__box__h2, .offers__h2, .shopping__p, .shopping__text, .offers__p {
  font-family: Segoe UI;
  font-size: 50px;
  font-weight: 700;
  margin-left: 70px;
  margin-bottom: 50px;
  display: block;
}
.shopping__p, .shopping__text, .offers__p {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0px;
  text-decoration: underline;
}
.shopping__text, .offers__p {
  font-weight: 400;
  margin-left: 70px;
  margin-bottom: 40px;
  text-decoration: none;
}
.shopping__button, .container-footer__button, .cursur-integer__div__button {
  background-color: #262626;
  color: white;
  border-radius: 49px;
  padding: 27px 49px;
  margin-left: 70px;
  font-size: 24px;
  font-weight: 700;
}
.shopping__button__arrow {
  margin-left: 55px;
}
.shopping__item, .shopping__item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.shopping__item {
  padding: 0 20px;
  width: 600px;
}
.shopping__item-image {
  margin-left: 20px;
}

.box-13 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  margin-bottom: 60px;
  margin-top: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box-24 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  margin-top: 220px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offers {
  background-color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.offers__p {
  color: #f9b800;
}
.offers__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
}
.offers__h2 {
  color: white;
  margin-bottom: 70px;
}
.offers__button {
  background-color: white;
  color: #262626;
  border-radius: 49px;
  padding: 27px 49px;
  margin-left: 70px;
  font-size: 24px;
  font-weight: 700;
}
.offers__button__arrow {
  margin-left: 55px;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  margin-bottom: 50px;
}
.boxes__box {
  background-color: white;
  border-radius: 56px;
  width: 350px;
  height: 400px;
  margin-bottom: 60px;
}
.boxes__box__h2 {
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 72px;
}
.boxes__box__h2-secondary {
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 24px;
}
.boxes__box__p {
  font-size: 20px;
  font-weight: 600;
  margin-left: 40px;
}
.boxes__box__p-secondary {
  font-size: 18px;
  font-weight: 350;
  margin-bottom: 20px;
  margin-left: 40px;
}

.box-14 span {
  color: #f9b800;
}

.box-23 span {
  color: white;
}

.box-23 {
  background-color: #f9b800;
}

.boxes > div > img {
  margin-left: 40px;
  margin-top: 40px;
}

.profile-section {
  background-color: #262626;
}

.profile {
  background-color: white;
  margin-left: 100px;
  margin-right: 130px;
  border-radius: 64px;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.profile__photo > img {
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 42px;
}
.profile__info h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Segoe UI;
  font-size: 35px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
}
.profile__info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Segoe UI;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 19px;
}
.profile__info span {
  margin-left: 19px;
  color: #f9b800;
}
.profile__info__user {
  font-family: Segoe UI;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.cursur-integer {
  background-color: #f9b800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.cursur-integer__h2 {
  margin-bottom: 30px;
  margin-left: 0;
  margin-top: 30px;
}
.cursur-integer__div__button {
  background-color: #262626;
  margin-left: 0;
  color: white;
  margin-bottom: 90px;
}
.cursur-integer__div__button__arrow {
  margin-left: 55px;
}
.cursur-integer__choosings {
  width: 550px;
}

li {
  list-style-type: none;
  background-color: white;
  display: inline-block;
  padding: 10px;
  margin-right: 6px;
  margin-bottom: 30px;
  border-radius: 24px;
}

li > img {
  width: 30px;
  height: 30px;
  margin-right: 0;
}

li > p {
  font-weight: 600;
  font-size: 20px;
  display: inline;
  margin-left: 10px;
}

.questions {
  background-color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.questions__headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 55px;
}
.questions li {
  list-style-type: none;
  background-color: white;
  display: block;
  padding: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-right: 180px;
  margin-left: 180px;
  margin-bottom: 30px;
  border-radius: 24px;
}
.questions li > img {
  width: 30px;
  height: 30px;
  margin-right: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.questions h2,
.questions h3,
.questions p {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
}
.questions h2 {
  font-size: 50px;
  color: white;
}
.questions h3 {
  margin-top: 20px;
  margin-bottom: 0;
}
.questions__under-header {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.questions__p {
  font-family: Segoe UI;
  color: #262626;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  padding: 40px 60px 44px 90px;
  display: inline;
}
.questions__answers {
  margin: 0 auto;
}

.questions > div > ul > li img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
  margin-top: 6px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

footer {
  background-color: #feedbc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container-footer__button {
  background-color: #f9b800;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  margin-left: 0;
  color: #262626;
}
.container-footer__button__arrow {
  margin-left: 55px;
}

.footer-end {
  font-family: Segoe UI;
  font-size: 50px;
  font-weight: 700;
}

.first-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.first-div__text {
  width: 700px;
}

.horizontal-line {
  width: 100%;
  border-bottom: 1px solid rgba(38, 38, 38, 0.1215686275);
  margin: 10px 0;
  margin-bottom: 30px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: 600;
  line-height: 26.6px;
  text-align: left;
  margin-left: 205px;
  margin-right: 102px;
  margin-bottom: 40px;
}
.copyright__underlined {
  text-decoration: underline;
}

/*----------------------------------------------------Mobile side-----------------------------------------------------------------*/
@media only screen and (max-width: 375px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    background-color: white;
    border-radius: 26px;
    margin: 20 auto;
  }
  .nav__logo {
    width: 84px;
    height: auto;
  }
  .header-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 130px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-section__p {
    font-family: Segoe UI;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    color: #f9b800;
  }
  .header-section__h2 {
    font-family: Segoe UI;
    font-size: 70px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 40px;
  }
  .header-section__image {
    margin-right: 130px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .header-section__button {
    background-color: #f9b800;
    border: 0;
    color: #262626;
    border-radius: 49px;
    padding: 27px 49px;
    margin-top: 30px;
    margin-left: 0;
    font-size: 24px;
    font-weight: 700;
  }
  .header-section__button__arrow {
    margin-left: 55px;
  }
  .shopping {
    background-color: #f9b800;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .shopping__h2, .shopping__p, .shopping__text, .offers__p, .offers__h2, .boxes__box__h2, .boxes__box__h2-secondary, .boxes__box__p, .boxes__box__p-secondary, .cursur-integer__h2, li > p {
    font-family: Segoe UI;
    font-size: 50px;
    font-weight: 700;
    margin-left: 70px;
    margin-bottom: 50px;
    display: block;
  }
  .shopping__p, .shopping__text, .offers__p {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0px;
    text-decoration: underline;
  }
  .shopping__text, .offers__p {
    font-weight: 400;
    margin-left: 70px;
    margin-bottom: 40px;
    text-decoration: none;
  }
  .shopping__button, .cursur-integer__div__button, .container-footer__button {
    background-color: #262626;
    color: white;
    border-radius: 49px;
    padding: 27px 49px;
    margin-left: 70px;
    font-size: 24px;
    font-weight: 700;
  }
  .shopping__button__arrow {
    margin-left: 55px;
  }
  .shopping__item, .shopping__item-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shopping__item {
    padding: 0 20px;
    width: 600px;
  }
  .shopping__item-image {
    margin-left: 20px;
  }
  .box-13 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px;
    margin-bottom: 60px;
    margin-top: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-24 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px;
    margin-top: 220px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offers {
    background-color: #262626;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .offers__p {
    color: #f9b800;
  }
  .offers__texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 600px;
  }
  .offers__h2 {
    color: white;
    margin-bottom: 70px;
  }
  .offers__button {
    background-color: white;
    color: #262626;
    border-radius: 49px;
    padding: 27px 49px;
    margin-left: 70px;
    font-size: 24px;
    font-weight: 700;
  }
  .offers__button__arrow {
    margin-left: 55px;
  }
  .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
    margin-bottom: 50px;
  }
  .boxes__box {
    background-color: white;
    border-radius: 56px;
    width: 350px;
    height: 400px;
    margin-bottom: 60px;
  }
  .boxes__box__h2 {
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 72px;
  }
  .boxes__box__h2-secondary {
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .boxes__box__p {
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
  }
  .boxes__box__p-secondary {
    font-size: 18px;
    font-weight: 350;
    margin-bottom: 20px;
    margin-left: 40px;
  }
  .box-14 span {
    color: #f9b800;
  }
  .box-23 span {
    color: white;
  }
  .box-23 {
    background-color: #f9b800;
  }
  .boxes > div > img {
    margin-left: 40px;
    margin-top: 40px;
  }
  .profile-section {
    background-color: #262626;
  }
  .profile {
    background-color: white;
    margin-left: 100px;
    margin-right: 130px;
    border-radius: 64px;
    margin-bottom: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .profile__photo > img {
    margin-left: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 42px;
  }
  .profile__info h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-family: Segoe UI;
    font-size: 35px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
  }
  .profile__info__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-family: Segoe UI;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 19px;
  }
  .profile__info span {
    margin-left: 19px;
    color: #f9b800;
  }
  .profile__info__user {
    font-family: Segoe UI;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .cursur-integer {
    background-color: #f9b800;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .cursur-integer__h2 {
    margin-bottom: 30px;
    margin-left: 0;
    margin-top: 30px;
  }
  .cursur-integer__div__button {
    background-color: #262626;
    margin-left: 0;
    color: white;
    margin-bottom: 90px;
  }
  .cursur-integer__div__button__arrow {
    margin-left: 55px;
  }
  .cursur-integer__choosings {
    width: 550px;
  }
  li {
    list-style-type: none;
    background-color: white;
    display: inline-block;
    padding: 10px;
    margin-right: 6px;
    margin-bottom: 30px;
    border-radius: 24px;
  }
  li > img {
    width: 30px;
    height: 30px;
    margin-right: 0;
  }
  li > p {
    font-weight: 600;
    font-size: 20px;
    display: inline;
    margin-left: 10px;
  }
  .questions {
    background-color: #262626;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .questions__headers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 55px;
  }
  .questions li {
    list-style-type: none;
    background-color: white;
    display: block;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-right: 180px;
    margin-left: 180px;
    margin-bottom: 30px;
    border-radius: 24px;
  }
  .questions li > img {
    width: 30px;
    height: 30px;
    margin-right: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .questions h2,
  .questions h3,
  .questions p {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
  }
  .questions h2 {
    font-size: 50px;
    color: white;
  }
  .questions h3 {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .questions__under-header {
    color: white;
    font-size: 20px;
    font-weight: 400;
  }
  .questions__p {
    font-family: Segoe UI;
    color: #262626;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    padding: 40px 60px 44px 90px;
    display: inline;
  }
  .questions__answers {
    margin: 0 auto;
  }
  .questions > div > ul > li img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 4px;
    margin-top: 6px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  footer {
    background-color: #feedbc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-footer__button {
    background-color: #f9b800;
    font-size: 24px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    margin-left: 0;
    color: #262626;
  }
  .container-footer__button__arrow {
    margin-left: 55px;
  }
  .footer-end {
    font-family: Segoe UI;
    font-size: 50px;
    font-weight: 700;
  }
  .first-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .first-div__text {
    width: 700px;
  }
  .horizontal-line {
    width: 100%;
    border-bottom: 1px solid rgba(38, 38, 38, 0.1215686275);
    margin: 10px 0;
    margin-bottom: 30px;
  }
  .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 600;
    line-height: 26.6px;
    text-align: left;
    margin-left: 205px;
    margin-right: 102px;
    margin-bottom: 40px;
  }
  .copyright__underlined {
    text-decoration: underline;
  }
}